   a {
      cursor: pointer;
   }

   .card_song {
      position: relative;
      background-color: #191919;
      height: 300px;
      max-width: 180px;
      padding: 3px;
      width: 100%;
      width: 100%;
      border-radius: 10px;
      background-color: #191919;
      display: flex;
      flex-direction: column;
      word-break: break-word;
      transition: all 0.4s ease-in-out;
      overflow: hidden;

      &:hover {
         background-color: #282828;
      }

      &:hover .music_player.how {
         animation: none
      }

      .music_player.how {

         animation: none;
         opacity: 1;
         top: 160px;
      }

      &:hover .music_player {
         animation: showMusicPlayer 0.4s ease-in-out forwards;
      }

      .music_player {
         position: absolute;
         top: 110px;
         transform: translateY(-50px);
         opacity: 0;
         right: 20px;
         width: 55px;
         height: 55px;
         background: #1fdf64;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         transition: all 0.4s ease-in-out;


         img {
            object-fit: contain;
            width: 20px;
            height: 20px;

            transform: rotate(0deg);
         }
      }

      @keyframes showMusicPlayer {
         0% {
            transform: translateY(-50px);
            opacity: 0;
         }

         100% {
            transform: translateY(0);
            opacity: 1;
         }
      }

      @keyframes hideMusicPlayer {
         0% {
            transform: translateY(0);
            opacity: 1;
         }

         100% {
            transform: translateY(-50px);
            opacity: 0;
         }
      }

      img {
         height: 170px;
         width: 170px;
         margin: 10px auto;
         object-fit: cover;
         border-radius: 10px;
      }

      .text_block {
         margin-top: 10px;
         margin-left: 10px;
         display: flex;
         flex-direction: column;
         gap: 10px;
         color: white;
         font-size: 18px;
         font-weight: bold;

         .artist_song {
            word-wrap: break-word;
         }

         a {
            text-decoration: none;
            color: gray;
         }
      }
   }