.error {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f8f8f8;
}

.error p {
   font-size: 36px;
   font-weight: bold;
   color: #ff3333;
   margin-bottom: 30px;
}

.go-home-btn {
   padding: 10px 20px;
   background-color: #4caf50;
   color: #fff;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.go-home-btn:hover {
   background-color: #388e3c;
}